<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Good Fucking Call</title>
    <meta name="description" content="Good fucking call, bro...">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/plain" rel="author" href="https://goodfuckingcall.com/humans.txt">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
    <meta name="theme-color" content="#ffffff">
    
    <link type="text/css" href="/assets/app.css" rel="stylesheet">
    
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "audience": {
                "@type": "PeopleAudience",
                "audienceType": "comedians",
                "suggestedMinAge": 18
            }
        }
    </script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15503420-11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-15503420-11');
    </script>
</head>

<body>
    <div id="app">
        <div class="sarcasm">
            <h2 class="text" v-html="random"></h2>
            
            <h1>Good fucking call, bro...</h1>
            
            <div class="refresh">
                <a href="#" @click.prevent="getRandom()">another?</a>
            </div>
        </div>
        
        <div class="categories">
            <span class="cat-link" v-for="cat in categories">
                [<a :href="'/' + (cat == 'default'? '' : cat)" v-text="cat" v-if="category !== cat"></a><span class="selected" v-if="category == cat" v-text="cat"></span>]
            </span>
        </div>
    </div>
    
    <div class="submit">
        <a href="https://github.com/KyleRoss/goodfuckingcall.com" target="_blank">Submit</a>
    </div>
    
    <div class="addthis_inline_share_toolbox social"></div>
    
    <script type="text/javascript" src="/assets/vue.min.js"></script>
    <script type="text/javascript" src="/assets/app.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a558729ba1190b7"></script>
</body>
</html>
